<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :投稿内容 %>
    <%= f.text_area :comment %>
  </div>

  <div class="field">
    <%= f.label :投稿者名 %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :返信先（編集不可） %>
    <%= f.number_field :post_id%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
